<!DOCTYPE HTML>

<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by GetTemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="GetTemplates.co" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	{% block head %}
	<link rel="shortcut icon" href=" {{ url_for('static', filename='/images/favicon.ico') }}">
	{% endblock %}
	

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.css', _external=True) }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/icomoon.css', _external=True) }}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/themify-icons.css', _external=True) }}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css', _external=True) }}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/magnific-popup.css', _external=True) }}">
	<!-- Bootstrap DateTimePicker -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap-datetimepicker.min.css', _external=True) }}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/owl.carousel.min.css', _external=True) }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/owl.theme.default.min.css', _external=True) }}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css', _external=True) }}">

	<!-- Modernizr JS -->
	<script src="static/js/modernizr-2.6.2.min.js"></script>

	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	
	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="{{ url_for('index') }}">Savory <em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li class="active"><a href="{{ url_for('menu') }}">Menu</a></li>
						<li class="has-dropdown"><a href="{{ url_for('services') }}">Services</a></li>
						<li><a href="{{ url_for('contact') }}">Contact</a></li>
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>

{% block body %}
{% endblock %}


<footer id="gtco-footer" role="contentinfo" style="background-image: url(static/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row row-pb-md">
            
            <div class="col-md-12 text-center">
                <div class="gtco-widget">
                    <h3>Contactanos</h3>
                    <ul class="gtco-quick-contact">
                        <li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
                        <li><a href="#"><i class="icon-mail2"></i> recetas_fiuba@fi.uba.ar</a></li>
                        <li><a href="#"><i class="icon-location"></i>Facultad de Ingenieria UBA</a></li>
                    </ul>
                </div>
                <div class="gtco-widget">
                    <h3>Redes sociales</h3>
                    <ul class="gtco-social-icons">
                        <li><a href="https://github.com/MateoGonzalezPautaso/TP1-Codigo_FIUBA-TB022_IDS"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 text-center copyright">
                <p><small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                    <small class="block">Designed by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
            </div>

        </div>

        

    </div>
</footer>
<!-- </div> -->

</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery -->
<script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
<!-- jQuery Easing -->
<script src="{{ url_for('static', filename='/js/jquery.easing.1.3.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
<!-- Waypoints -->
<script src="{{ url_for('static', filename='/js/jquery.waypoints.min.js') }}"></script>
<!-- Carousel -->
<script src="{{ url_for('static', filename='/js/owl.carousel.min.js') }}"></script>
<!-- countTo -->
<script src="{{ url_for('static', filename='/js/jquery.countTo.js') }}"></script>

<!-- Stellar Parallax -->
<script src="{{ url_for('static', filename='/js/jquery.stellar.min.js') }}"></script>

<!-- Magnific Popup -->
<script src="{{ url_for('static', filename='/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/magnific-popup-options.js') }}"></script>

<script src="{{ url_for('static', filename='/js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='/js/bootstrap-datetimepicker.min.js') }}"></script>


<!-- Main -->
<script src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>
</html>

