{% extends "base.html" %}
{% block body %}
<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_bg_3.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center">

                <div class="row row-mt-15em">
                    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                        <span class="intro-text-small">Recetas FIUBA</span>
                        <h1 class="cursive-font">¡Ya eres parte de la comunidad!</h1>
                        <div></div>
                        <h4 class="intro-text-small">Comparte tus mejores platos y descubre nuevas delicias. Para sugerir una receta, complete con los datos de su receta para que pueda ser revisada</h4>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</header>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 animate-box">
                    <h3>Receta de Ingredientes</h3>
                    <form action="{{ url_for('suggest') }}" id="ingredientesForm" method="post">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="numIngredientes">¿Cuantos ingredientes tiene tu receta?</label>
                                <input type="number" id="numIngredientes" name="numIngredientes" min="1" class="form-control" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="namePlato">Nombre del plato:</label>
                                <input type="text" id="namePlato" name="namePlato" class="form-control" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="descPlato">Una breve descripcion del plato:</label>
                                <input type="text" id="descPlato" name="descPlato" class="form-control" required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <input type="submit" value="Enviar" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}