{% extends "base.html" %}

{% block title %} Código FIUBA {% endblock %}

{% block body %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(static/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					

					<div class="row row-mt-15em">
						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Hecho por alumnos de <a href="https://www.fi.uba.ar/" target="_blank">FIUBA</a></span>
							<h1 class="cursive-font">Los mejores sabores!</h1>	
						</div>
						
					</div>
							
					
				</div>
			</div>
		</div>
	</header>

	<div class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container text-center">
			<div class="display-t">
				<div class="display-tc">
					<h1>&ldquo; Cualquiera puede cocinar&rdquo;</h1>
					<p> Chef Gusteau - Ratatouille.</p>
				</div>	
			</div>
		</div>
	</div>



	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="cursive-font">Nuestros servicios</h2>
					<p>Nuestros 3 servicios para facilitarle la cocina a nuestros usuarios.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-face-smile"></i>
						</span>
						<h3>Todas sus recetas</h3>
						<p>Contamos con una amplia variedad de recetas para los paladares mas exigentes. Todas estas sugeridas por ustedes.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-shopping-cart-full"></i>
						</span>
						<h3>Tu lista de compra</h3>
						<p>Usa nuestro sistema para generar tu lista de la compra a partir de las recetas que mas te gusten.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-comment-alt"></i>
						</span>
						<h3>Contanos tu mejor receta</h3>
						<p>Si tenes una receta favorita que quieras compartir con el resto de usuarios, no dudes en sugerirla por el apartado "Nuevas recetas"</p>
					</div>
				</div>
				

			</div>
		</div>
	</div>


	<div id="gtco-counter" class="gtco-section">
		<div class="gtco-container">

			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2 class="cursive-font primary-color">Nuestra historia</h2>
					<p>Te contamos un poco sobre la página y sus estadisticas en tiempo real.</p>
				</div>
			</div>

			<div class="row">
				
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Cantidad de usuarios</span> 

					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="43" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Cantidad de recetas</span> 
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="7" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Desarrolladores</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
					<div class="feature-center">
						<span class="counter js-counter" data-from="0" data-to="2024" data-speed="5000" data-refresh-interval="50">1</span>
						<span class="counter-label">Desde</span>

					</div>
				</div>
					
			</div>
		</div>
	</div>


{% endblock %}