{% extends "base.html" %}

{% block title %} Menu {% endblock %}

{% block body %}

	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(static/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					

					<div class="row row-mt-15em">
						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>
							<h1 class="cursive-font">Taste all our menu!</h1>	
						</div>
						
					</div>
							
					
				</div>
			</div>
		</div>
	</header>


	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2 class="cursive-font primary-color">Popular Dishes</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div id="contenedor-platos" class="row">

			</div>
		</div>
	</div>
	<script>
		// Platos hardcodeados
		const platosJson = [
			{
				"nombre": "Sopa",
				"descripcion": "Vor  wieder euch wiederholt widerklang selbst ich tränen, mich wie lebt ihr gut blick gestalten. Und freundschaft gut die."
			},
			{
				"nombre": "Pizza",
				"descripcion": "De el quedo sus los y el se para, la deja bajo algodón el mudas."
			},
			{
				"nombre": "Churrasco",
				"descripcion": "Door but bird ungainly ungainly lenore for ember grave. Yore door stood days back and now nevermore, the as if."
			},
			{
				"nombre": "Spaguetti",
				"descripcion": "Halallal uos leg en scemem hol keguggethuk yg num. Wirud uos fyomnok ezes ezes kyul."
			}
		];

		// Declaro la funcion
		function mostrarPlatos(platos) {
			// Obtengo el contenedor de platos
			const container = document.getElementById('contenedor-platos');

			// Itero sobre el JSON
			platos.forEach(plato => {
				// Creo un <div>
				const platoDiv = document.createElement('div');
				platoDiv.classList.add('col-lg-4', 'col-md-4', 'col-sm-6');

				// Creo un <h2>
				const platoNombre = document.createElement('h2');
				platoNombre.classList.add("fh5co-text")
				// Le agrego el nombre del plato como contenido
				platoNombre.textContent = plato.nombre;

				// Creo un <p>
				const platoDescripcion = document.createElement('p');
				platoDescripcion.classList.add("fh5co-text")
				// Le agrego la descripcion del plato como contenido
				platoDescripcion.textContent = plato.descripcion;

				// Agrego el <h2> y el <p> dentro del <div>
				platoDiv.appendChild(platoNombre);
				platoDiv.appendChild(platoDescripcion);

				// Agrego todo al contenedor principal (representa un plato)
				container.appendChild(platoDiv);
			});
		}

		// Llamo a la función 
		mostrarPlatos(platosJson);

	</script>

{% endblock %}

